@charset "UTF-8";

@font-face {
    font-family: grafite;
    src: url(../fonts/adrip1.ttf) format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* HEADER COM FLEXBOX */
header {
    height: 20%;
    width: 100%;
    position: relative;
}

.up {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    height: 70%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
}

.down img{
    padding-left: 70px;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.down {
    background-color: rgb(184, 184, 184);
    height: 30%;
    position: relative;
    z-index: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* LOGO */
header .up img {
    width: 80px;
    height: auto;
    cursor: pointer;
}

/* TÍTULO */
header h1 {
    font-size: 55px;
    font-family: grafite, sans-serif;
    color: rgb(128, 250, 34);
    text-align: center;
    flex-grow: 1;
    padding-right: 18px;
}

/* ÍCONE MENU */
.menu-icon {
    color: rgb(128, 250, 34);
    font-size: 70px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-icon:hover {
    transform: scale(1.1);
}

.menu-btn {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: rgb(128, 250, 34);
    border-radius: 5px;
    transition: 0.3s;
}

/* Quando ativado */
.menu-btn.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.menu-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}